h2 {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: 600;
  margin-top: 0.9rem;
  margin-bottom: 0.35rem;
}

p {
  margin-top: 0;
  margin-bottom: 0.75rem;
  line-height: 1.62;
}