:root {
  --primary-color: #212529;
  --secondary-color: #343a40;
  --gallery-border-color: rgb(60, 60, 60);
  --gallery-background-color: rgb(40, 40, 40);
}

.theme-darker {
  --primary-color: #121212;
  --secondary-color: #222;
}

.theme-softlight {
  --primary-color: #373737;
  --secondary-color: #505050;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: Arial, sans-serif;
  background-color: var(--primary-color);
  color: #f8f9fa;
}

.content-sections {
  > section {
    padding: 60px 0;
    width: 100%;

    &:nth-of-type(odd) {
      background-color: var(--secondary-color);
    }

    &:nth-of-type(even) {
      background-color: var(--primary-color);
      color: rgb(220, 220, 220);
    }
  }
  > .hero {
    padding-top: calc(60px + 3em);
  }
}
.centered-section {
  text-align: center;
  align-items: center;  
  display: flex;
}

h2 {
  font-weight: 600;
}
