.aboutme-preview-content {
  display: flow-root;

  .profile-image {
    float: right;
    margin: 0 0 1em 1em;

    .profile-image-img {
      display: block;
      width: 8em;
      height: 8em;
      border-radius: 1em;
      object-fit: cover;
    }

    @media (max-width: 36em) {
      .profile-image-img {
        width: 6em;
        height: 6em;
      }
    }
  }
}

.aboutme-actions {
  margin-top: 1rem;

  .aboutme-actions-inner {
    display: flex;
    align-items: center;
    gap: 1.5em;

    .aboutme-expand {
      padding: 0;
      border: 0;
      background: none;
      color: inherit;
      cursor: pointer;
      transition: color 150ms ease;

      &:hover {
        color: var(--muted-hover-color);
      }
    }

    .aboutme-actions-buttons {
      margin-left: auto;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
    }
  }
}

@media (max-width: 470px) {
  .aboutme-actions {
    .aboutme-actions-inner {
      flex-direction: column;
      align-items: stretch;
      row-gap: 1.75em;
    }

    .aboutme-actions-buttons {
      order: 1;
      margin-left: 0;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      column-gap: 0.75rem;
    }

    .aboutme-actions-buttons .btn-cta {
      flex: 1;
      justify-content: center;
    }

    .aboutme-expand {
      order: 2;
      align-self: flex-start;
      margin-left: 1em;
    }
  }
}
@media (max-width: 400px) {
  .aboutme-actions {
    .aboutme-actions-buttons {
      flex-direction: column;
    }

    .aboutme-actions-buttons .btn-cta {
      width: 100%;
    }
  }
}

#aboutme-expanded {
  .aboutme-expanded-inner {
    padding-top: 1em;

    > h3:first-child {
      margin-top: 0;
    }
  }

  .aboutme-expanded-cta-text {
    margin-bottom: 0.5em;
  }
}
