.aboutme-preview-content {
  display: flow-root;

  .profile-image {
    float: right;
    margin: 0 0 1em 1em;

    .profile-image-img {
      display: block;
      width: 8em;
      height: 8em;
      border-radius: 1em;
      object-fit: cover;
    }
  }

  @media (max-width: 36em) {
    .profile-image {
      .profile-image-img {
        width: 6em;
        height: 6em;
      }
    }
  }
}
.aboutme-actions {
  display: flex;
  align-items: center;
  gap: 1.5em;

  .aboutme-expand {
    padding: 0;
    border: 0;
    background: none;

    color: inherit;
    text-decoration: none;

    cursor: pointer;

    transition: color 150ms ease;

    &:hover {
      color: var(--muted-hover-color);
    }
  }
  .aboutme-cv {
    margin-left: auto;
  }
}

#aboutme-expanded {
  margin-top: 1.25rem;

  .aboutme-expanded-cta-text {
    margin-bottom: 0.75rem;
  }

  .aboutme-actions {
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
@media (min-width: 768px) {
  #aboutme-expanded {
    margin-right: 8em;
  }
}
