.aboutme-preview-content {
  display: flow-root;

  .profile-image {
    float: right;
    margin: 0 0 1em 1em;

    .profile-image-img {
      display: block;
      width: 8em;
      height: 8em;
      border-radius: 1em;
      object-fit: cover;
    }

    @media (max-width: 36em) {
      .profile-image-img {
        width: 6em;
        height: 6em;
      }
    }
  }
}

.aboutme-actions {
  margin-top: 1rem;

  .aboutme-actions-inner {
    display: flex;
    align-items: center;
    gap: 1.5em;

    .aboutme-expand {
      padding: 0;
      border: 0;
      background: none;
      color: inherit;
      cursor: pointer;
      transition: color 150ms ease;

      &:hover {
        color: var(--muted-hover-color);
      }
    }

    .aboutme-actions-buttons {
      margin-left: auto;
    }
  }
}

#aboutme-expanded {
  .aboutme-expanded-inner {
    padding-top: 1em;

    > h3:first-child {
      margin-top: 0;
    }
  }

  .aboutme-expanded-cta-text {
    margin-bottom: 0.5em;
  }
}