@mixin button-base {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0.5rem 1rem;

  background-color: var(--secondary-color);
  color: var(--text-color);
  text-decoration: none;

  border: 1px solid transparent;
  border-radius: 6px;

  font-size: 1rem;
  font-weight: 600;

  cursor: pointer;

  transition:
          background-color 150ms ease,
          border-color 150ms ease,
          color 150ms ease;

  .bi {
    position: relative;
    right: 5px;
    margin-right: 0.5em;
  }
}

@mixin dropdown-active {
  background-color: color-mix(
          in srgb,
          var(--secondary-color) 80%,
          var(--primary-color)
  );

  color: var(--active-color);
}

.btn-cta {
  @include button-base;

  box-shadow: 0 2px 3px color-mix(
          in srgb,
          var(--primary-color) 78%,
          black
  );

  &.dropdown-toggle.show {
    @include dropdown-active;
  }
}

.btn-surface {
  @include button-base;

  border-color: var(--surface-border-color);

  &.dropdown-toggle.show {
    @include dropdown-active;
  }
}

// Colors
.section-even {
  .btn-cta,
  .btn-surface {
    background-color: var(--secondary-color);
    color: var(--text-color);

    &:hover {
      background-color: var(--button-hover-color);
      color: var(--text-hover-color);
    }
  }
}

.section-odd {
  .btn-cta,
  .btn-surface {
    background-color: var(--primary-color);
    color: var(--text-color);

    &:hover {
      background-color: var(--button-hover-color);
      border-color: var(--button-surface-hover-border-color);
    }
  }
}

// Sizes

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}

.btn-lg {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
}
